*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url("https://i.pinimg.com/474x/52/74/d6/5274d6609a0dd1e0020beaaad30448e6.jpg");
}
.textInformation{
    font-size: 12px;
    color: white;
    text-align: center;
}
.textInformation h1{
    margin: 10px;
}
.textInformation h2{
    margin: 10px;
}
.divInputUang{
    text-align: center;
}
#inputUang{
    border-radius: 10px;
    padding: 10px;
}

.allButton{
    display: flex;
    margin: 20px;
    gap: 10px;
    justify-content: center;
}
#mulaiButton{
    padding: 10px;
    border-radius: 10px;
    background-color: #79AC78;
    font-weight: bold;
    font-size: 17px;
}
#ambilKartuButton{
    padding: 10px;
    border-radius: 10px;
    background-color: #FFCF9D;
    font-weight: bold;
    font-size: 17px;
}
#holdKartuButton{
    padding: 10px;
    border-radius: 10px;
    background-color: #8EACCD;
    font-weight: bold;
    font-size: 17px;
}
#mulaiButton:hover{
    background-color: #30b42e;
    cursor: pointer;
}
#ambilKartuButton:hover{
    background-color: #f5a650;
    cursor: pointer;
    
}
#holdKartuButton:hover{
    cursor: pointer;
    background-color: #347fce;
    
}