#cover{
    padding: 70px 0px 20px 0px;
    background-color: gray;
}

.about {
    padding: 50px 50px 0px 70px;
    justify-content: center;
}

.product {
    padding: 50px 70px 40px 70px;
}

.contact{
    padding: 40px 70px 40px 70px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}