@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #ffffff, #000000);
}

.collapse ul li a:hover {
  color: #0072ff;
}

.carousel-item img {
  height: 75vh;
  object-fit: cover;
}

.section-statistics {
  margin-top: -2rem;
  position: relative;
}

.statistic-item {
  background: linear-gradient(32deg, #0072ff 0%, #0b5ed7 100%);
}

.section-services,
.section-quality {
  padding-top: 11%;
  padding-bottom: 11%;
}

.section-testimoni {
  padding-top: 4%;
  padding-bottom: 4%;
}
